header{
    width: 100%;
    height: 20vh;
    float: left;
    background-color: #43291F;
}
#titfo{
    width: 100%;
    height: 100%;
    float: left;
}
#titC{
    width: 25%;
    height: 100%;
    float: left;
}
#tit{
    margin-left: 10%;
    margin-top: 1%;
    font-size: 5vw;
    color: white;
    font-family: 'Hammersmith One', sans-serif;;
}
#barNav{
    width: 45%;
    height: 100%;
    float: left;
    text-align: center;
    font-size: small;

}
#perfil{
    width: 20%;
    height: 100%;
    margin-left: 10%;
    text-align: center;
    float: left;
}
#pic{
    width: 6vw;
    height: 6vw;
    margin: auto;
    margin-top: 9%;
    border-radius: 100px;
    background-color: #dddddd;
}
a{
    text-decoration: none;
}
.nave{
    width: 100%;
    margin: auto;
    margin-top: 8vh;
    font-family: 'Hammersmith One', sans-serif;
    transition: .3s;
}
.menu{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    transition: .3s;
}
.menu > li > a{
    height: 100%;
    display: block;
    padding: auto;
    color: white;
    text-decoration: none;
    font-size: 3vh;
    transition: .3s;
}
.menu > li:hover > a{
    color: #4ad4fa;
    transition: all .3s;
}
.menuv{
    color: white;
    position: absolute;
    display: none;
    list-style: none;
    width: 13%;
    background-color: #88ccf7;
    z-index: 1000;
    transition: all .3s;
}
.menu li:hover .menuv{
    display: block;
    transition: all .3s;
}
.menuv li:hover a{
    color: #282866;
}
.menuv li a{
    display: block;
    color: white;
    font-size: 2.2vh;
    margin: 1vw;
    text-align: left;
    transition: all .3s;
}
.list{
    width: 100%;
    height: 5vh;
    align-items: center;
}
footer{
    width: 100%;
    height: 20vh;
    float: left;
    margin-top: 5vh;
    background-color: #43291F;
}
.topM{
    width: 100%;
    height: 1vh;
    background-color: #43291F;
}