*{
    margin: 0;
    padding: 0;
  }

    
    .value {
      background-color: transparent;
      border: none;
      padding: 10px;
      color: white;
      display: flex;
      position: relative;
      gap: 5px;
      cursor: pointer;
      border-radius: 4px;
    }
    
    .value:not(:active):hover,
    .value:focus {
      background-color: #21262C;
    }
    
    .value:focus,
    .value:active {
      background-color: #1A1F24;
      outline: none;
    }
    
    .value::before {
      content: "";
      position: absolute;
      top: 5px;
      left: -10px;
      width: 5px;
      height: 80%;
      background-color: #2F81F7;
      border-radius: 5px;
      opacity: 0;
    }
    
    .value:focus::before,
    .value:active::before {
      opacity: 1;
    }
    
    .value svg {
      width: 35px
    }
   
   
    .content{
      align-items: center;
      width: 100%;
      height: 100%;
      background: #F3E9DC;
    }
    .reservaciones{
      width:55%;
      height:100%;
      border: 1px solid black;
      border-radius: 10px;
      float: left;
    }
    .padre{
      height: 700px;
      width: 100vw;
    }
    header{
      width: 100vw;
      height: 250px;
      float: left;
      background-color: #43291F;
  }
  #titfo{
      width: 100%;
      height: 75%;
      float: left;
      background-color: #43291F;
  }
  #titC{
      width: 30%;
      height: 100%;
      float: left;
  }
  #tit{
      margin-left: 10%;
      margin-top: 1%;
      font-size: 5vw;
      color: white;
      font-family: 'Hammersmith One', sans-serif;;
  }
  #search{
      width: 50%;
      height: 100%;
      float: left;
      text-align: center;
  
  }
  #sear{
      width: 90%;
      height: 30%;
  }
  #perfil{
      width: 20%;
      height: 100%;
      text-align: center;
      float: left;
  }
  #pic{
      width: 10vw;
      height: 10vw;
      margin: auto;
      margin-top: 15%;
      border-radius: 100px;
      background-color: #dddddd;
  }

  #bnav{
      width: 100%;
      height: 25%;
      float: left;
      background-color: #B58463;
  }
  .nave{
      width: 100%;
      margin: auto;
      margin-top: 8px;
      font-family: 'Hammersmith One', sans-serif;
  }
  .menu{
      width: 100%;
      height: 100%;
      list-style: none;
      display: flex;
      justify-content: space-around;
  }
  .menu > li > a{
      height: 100%;
      display: block;
      padding: auto;
      color: white;
      text-decoration: none;
      font-size: 3vh;
      transition: .3s;
  }
  .menu > li:hover > a{
      color: #43291F;
  }
  .menuv{
      color: white;
      position: absolute;
      display: none;
      padding: 15px;
      list-style: none;
      width: 13%;
      margin-top: 2vh;
      background-color: #43291F;
      z-index: 1000;
      transition: .3s;
  }
  .menu li:hover .menuv{
      display: block;
  }
  .menuv li:hover{
      background-color: #332018;
  }
  .menuv li a{
      display: block;
      color: white;
      margin-top: 7%;
      margin-left: 5%;
      font-size: 100%;
  }
  .list{
      width: 100%;
  }
  footer{
      width: 100%;
      height: 20vh;
      float: left;
      margin-top: 5vh;
      background-color: #43291F;
  }
  body,html{
    width: 100%;
    height: 100%;
    background-color: #F3E9DC;
  }
  .todo{
    width: 100vw;
    height: 100vh;
    float: left;
  }
  .input {
    display: flex;
    flex-direction: column;
    width: 20%;
    height:  200px;
    background-color: #43291F;
    justify-content: center;
    border-radius: 15px;
    float: left;
    margin-top: 30%;
    text-decoration: none;
  }
  .reservaciones{
    color: gray;
    text-align: center;
    float: left;
    width: 58.5%;
    margin-left: 1%;
    margin-top: 5%;
    font-size: xx-large;
  }
  
  .user{
    width: 20%;
    height: 100%;
    color: #2F81F7;
    text-align: center;
    float: right;
    margin-left: 0%;
    float: right;
  }
  .si{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;

  }
  .si > #imgP{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;

  }
  .user > img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  
  }
 
  #carmela{
    float: right;
    text-align: left;
    
  }
  h1{
    text-align: center;
  }
