*{
    margin: 0%;
    padding: 0%;
    font-family: 'Hammersmith One', sans-serif;
}

html, body{
    height: 100%;
    background-color: #F3E9DC;
}
#progre{
    position: fixed;
    top: 0;
    width: 0%;
    background-color: #43291F;;
    height: 1em;

    animation: progre-g auto linear;
    animation-timeline: scroll(root );
    z-index: 1;
}

@keyframes progre-g{
    from{
        width: 0%;
    }to{
        width: 100%;
    }
}

.publicidad{
    width: 96%;
    height: 70%;
    float: left;
    margin-left: 2%;
    margin-top: 4%;
}
.carruseles{
    width: 100%;
    height: 90%;
    float: left;

    background-image: url(imgs/imag1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
main{
    width: 100%;
    height: 100%;
    float: left;
}
#paquetes{
    width: 100%;
    height: 80%;
    margin: auto;
    float: left;
}
img{
    width: 100%;
    height: 100%;
}
#container-rooms{
    text-align: center;
    width: 50%;
    height: 80%;
    float: right;
    margin-top: 2%;
    margin-right: 5%;
    
}
#container-roomsdo{
    text-align: center;
    width: 50%;
    height: 80%;
    float: right;
    margin-top: 2%;
    margin-right: 5%;
}
#container-roomsC{
    text-align: center;
    width: 80%;
    height: 80%;
    float: left;
    margin-top: 2%;
    margin-left: 10%;
    
}
.tits{
    font-size: 60px;
    font-family: 'Hammersmith One', sans-serif;
    color: rgb(99, 99, 99);
    margin-left: 12%;
}
.titc{
    width: 25%;
    font-size: 70px;
    font-family: 'Hammersmith One', sans-serif;
    color: rgb(99, 99, 99);
}
.titet{
    width: 100%;
    font-size: 30px;
    margin-top: 5vh;
    font-family: 'Hammersmith One', sans-serif;
}
.habitacion{
    text-align: center;
    width: 31%;
    height: 46%;
    float: left;
    background-color: rgb(187, 187, 187);
    margin: 1%;
    margin-bottom: 0.5%;
    box-shadow: 0 5px 12px black;
}
.habitacion2{
    width: 97%;
    height: 54%;
    float: left;
    margin-top: .3;
    margin: 1%;
    background-color: rgb(187, 187, 187);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom 20%;
    box-shadow: 0 5px 12px black;
    background-image: url(https://www.moonpalacecancun.com/mpn_Room_Superior_Deluxe_Ocean_View_hero_3600x1800px_170bd779d2.jpg);

}
.square_s{
    text-align: center;
    width: 18%;
    height: 40%;
    float: left;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin: 1%;
}
.square_ss{
    text-align: center;
    width: 25%;
    height: 40%;
    float: left;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin: 1%;
}
.c_icon{
    width: 100%;
    height: 70%;
    float: left;
}
.icons{
    width: 60%;
    height:60%;
    margin-top:20%;
}
.titSer{
    width: 100%;
    height: 30%;
    float: left;
}
.titS{
    font-size:large;
    font-family: 'Hammersmith One', sans-serif;

}
.titSS{
    font-size:20px;
    font-family: 'Hammersmith One', sans-serif;

}
.tit{
    font-size: x-large;
    color: rgb(102, 102, 102);
    text-decoration:none
}
a{
    text-decoration:none;
}
.imgc{
    object-fit: cover;
}
.imagen{
    width: 100%;
    height: 50%;
    float: left;
    margin-top: 2%;

    background-image: url(imgs/Perrito.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #B58463;
}
.imagen2{
    width: 100%;
    height: 50%;
    float: left;

    background-image: url(imgs/gato.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #B58463;

}
.servicios{
    width: 100%;
    height: 80%;
    float: left;
    background-color: #e6e6e6;
    margin-top: 3%;
    margin-bottom: 3%;
}
.serv{
    width: 40vh;
    float: left;
    margin-top: 6vh;
    margin-left: 7%;
}
.conbut{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
}
button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 80px;
    background-color: #B58463;
    color: whitesmoke;
    font-size:30px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.but span{
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}
.but::after{
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 80px);
    border-bottom: 80px solid #43291F;
    border-right: 80px solid transparent;
    transition: .4s ease-in-out all;
}
.but:hover::after{
    left: 0;
}
@keyframes show{
    from {
        opacity: .1;
        translate: 0 100 px;
        scale: .7;
    }
    to {
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}
.habitacion,.habitacion2,.icons,.titSer{
    animation: show linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 50%;
}
#uno{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://images.mirai.com/INFOROOMS/100376355/gMTRa4gTj2qTSjgroLJ5/gMTRa4gTj2qTSjgroLJ5_large.jpg);
}
#dos{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/16/9e/9a/14/premium.jpg?w=700&h=-1&s=1);
}
#tres{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://media.elvenezolanohouston.com/evh/wp-content/uploads/2022/06/unnamed-1-1161x750.png);
}
.bott:hover{
    transform: scale(1.1);
}
footer{
    width: 100%;
    height: 20vh;
    float: left;
    margin-top: 5vh;
    background-color: #43291F;
}
#aviso{
    width: 100%;
    height: 12vh;
    float: left;
    display: flex;
    text-align: center;
}
#av{
    margin-top: 3vh;
    margin-left: 35vh;
    float: left;
    font-size: 15px;
    color: whitesmoke;
}
#logo{
    width: 50%;
    height: 60%;
    float: left;
    background-color: #43291F;
}
#log{
    margin-left: 20%;
    margin-top: 1.5%;
    float: left;
    font-size: 3vw;
    color: white;
    font-family: 'Hammersmith One', sans-serif;
}
#lo{
    width: 50%;
    margin-top: 1.9%;
    margin-left: 1%;
    float: left;
    color: white;
}
#redes{
    width: 50%;
    height: 60%;
    float: left;
    background-color: #43291F;
    
}
.ic{
    width: 10vh;
    height: 10vh;
    object-fit: cover;
}