*{
    margin: 0%;
    padding: 0%;
    font-family: 'Hammersmith One', sans-serif;
}

html, body{
    height: 100%;
    background-color: #F3E9DC;
}
main{
    min-height: 100%;
    width: 100%;
    float: left;
    background-color: #F3E9DC;
}
.emp{
    min-height: 80%;
    width: 70%;
    float: left;
    margin-top: 3vw;
    margin-left: 15%;
    margin-bottom: 3vw;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
}
.perf{
    height: 35%;
    width: 100%;
    float: left;
    border-radius: 10px;
    background-color: white;
}
.nome{
    width: 65%;
    height: 90%;
    text-align: left;
    float: left;
}
#name{
    margin-top: 8vw;
    font-size: 6vh;
    color: rgb(48, 48, 48);
}
#fotop{
    width: 28%;
    height: 90%;
    text-align: center;
    float: left;
}
#pict{
    width: 11vw;
    height: 11vw;
    margin-left: 4vw;
    margin-top: 4vw;
    border-radius: 100%;
    background-color: #dddddd;
    overflow: hidden;
}
.data{
    min-height: 60%;
    width: 100%;
    float: left;
    margin-top: 3vw;
    margin-bottom: 3vw;
    background-color: white;
}
.data2{
    height: 90%;
    width: 90%;
    float: left;
    margin-left: 5%;
    background-color: white;
    border: solid rgb(147, 147, 147) 1px;
    box-shadow: 0 0 10px 2px rgb(230, 229, 229);
}
.detail{
    margin-top: 1%;
    height: 95%;
    width: 48%;
    float: left;
    margin-left: 1vw;
    margin-bottom: 2vw;
    background-color: white;
    border-right: solid rgb(147, 147, 147) 1px;
}
.detaile{
    height: 95%;
    width: 50%;
    float: left;
    margin-top: 1%;
    background-color: white;
    margin-bottom: 1vw;
}
#Detal{
    margin-top: 4%;
    font-size: 250%;
    color: #646464;
    margin-left: 4%;
}
.dat{
    margin-top: 4%;
    font-size: 110%;
    margin-left: 4%;
}
.image{
    width: 100%;
    height: auto;
}
.gray{
    color: rgb(168, 168, 168);
}