*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    background-color: #F3E9DC;
}
header{
    width: 100%;
    height: 15%;
    float: left;
    background-color: #43291F;
}
h1{
    text-align: center;
    color: white;
    font-size: 50px;
}
.top{
    width: 100%;
    height: 5%;
    float: left;
    background-color: #F3E9DC;
}
.top2{
    width: 30%;
    height: 10%;
    float: left;
    background-color: #F3E9DC;
}
main{
    width: 100%;
    height: 75%;
    margin: auto;
    float: left;
    background-color: #F3E9DC;
}
#for{
    width: 60%;
    height: 70%;
    margin: auto;
    background-color: #ffffff;
}
.palabras{
    font-size:larger;
    font-family: 'Roboto', sans-serif;
}
.tam{
    width: 100%;
    height: 30px;
    text-align: center;
}
.bot{
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #43291F;
    border-color: #43291F;
    color: white;
    border-radius: 100px;
}
.controles{
    width: 100%;    
    background-color: #F3E9DC;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px;
    font-family: 'calibri';
    font-size: 18px;
}
.p{
    height: 40px;
    text-align: center;
    font-size: 18px;
}
.tituloHabitaciones{
    color: black;
}
.FormIzq{
    width: 40%;
    padding: 10px;
    height:92%;
    float: left;
    margin-top: 12%;
    border-radius: 4px;
    background-color: hsl(0, 0%, 100%);
    margin-left: 15%;
}
#izquierda{
    width: 40%;
    height: 100%;
    float: left;
    border-radius: 4px;
}
.derecha{
    width: 60%;
    padding: 10px;
    height:92%;
    float: right;
    margin-top: 12%;
    border-radius: 4px;
    background-color: hsl(0, 0%, 100%);
    margin-left: 15%;
}

#der{
   
    width: 60%;
    height: 100%;
    float: right;
    border-radius: 4px;
}
img{
    width: 4%;
    height: 3%;
}
#imagen{
   
    width: 100px;
    height: 90px;
}