*{
    margin: 0;
    padding: 0;
    font-family: 'Hammersmith One', sans-serif;
}
html,body{
    height: 100%;
    background-color: #F3E9DC;
}
img{
    width: 100%;
    height: 100%;
}
main{
    height: 100%;
    width: 100%;
    float: left;
    background-color: #F3E9DC;
}
#cont1{
    width: 40%;
    height: 100%;
    margin-top: 15vh;
    float: left;
    background-size: cover;
    background-image: url(imgs/restaurante.jpg);
}
#cont2{
    width: 60%;
    height: 100%;
    margin-top: 15vh;
    float: left;
    margin-bottom: 10vw;
    background-color: #F3E9DC;
}
#container_add{
    width: 50vw;
    min-height: 40vh;
    float: left;
    margin-left: 5vw;
    margin-top: 3vw;
    margin-bottom: 10vw;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgb(162, 162, 162);
    text-align: center;
    overflow: hidden;
}
.tit{
    font-size: 2vw;
    margin: 2vw;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.big{ 
    font-size: 4vw;
}
#left{
    width: 40%;
    min-height: 77vh;
    float: left;
    background-image: linear-gradient(#B58463, #c5a68c);
    display: flex;
    align-items: center;
    object-position: center;
    object-fit: cover;
    z-index: 1;
}
#add_info{
    width: 60%;
    height: 100%;
    float: left;
    position: relative;
}

.inputbox{
    position: relative;
    width: 70%;
    height: 5vh;
    margin-left: 15%;
    background-color: brown;
    box-sizing: border-box;
    margin-top: 1vw;
    border-radius: 5px;
}
.avis{
    color: rgb(167, 163, 163);
    position: relative;
    width: 70%;
    height: 5vh;
    margin-left: 15%;
    box-sizing: border-box;
    margin-top: 1vw;
    border-radius: 5px;
}
.inputbox .inp{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    outline: 0;
    border: 0;
    padding-left: 5px;
    border: 1px solid rgb(176, 176, 176);
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
}
.inputbox .text_input{
    position: absolute;
    background-color: whitesmoke;
    float: left;
    top: 25%;
    left: 5px;
    color: rgb(182, 182, 182);
    font-size: 1vw;
    transition: .3s;
    pointer-events: none;
}
.inputbox .inp:focus ~ .text_input,
.inputbox .inp:valid ~ .text_input{
    color: #c5a68c;
    top: -20%;
    font-size: small;
}
.inputbox .inp:placeholder-shown + .text_input{
    top: -20%;
    font-size: 0.9em;
}
#bot{
    background-color: #43291F;
    width: 70%;
    height: 5vh;
    color: whitesmoke;
    border: 0;
    padding-left: 5px;
    box-sizing: border-box;
    position: relative;
    border-radius: 20px;
    margin-bottom: 5vw;
}
#bot:hover{
    box-shadow: 0 0 5px 2px rgb(190, 190, 190);
}
.inputFile{
    position: relative;
    width: 10vw;
    height: 5vh;
    margin-left: 15%;
    background-color: rgb(76, 148, 189);
    box-sizing: border-box;
    margin-top: 1vw;
    border-radius: 5px;
    text-align: center;
}
.inputFile:hover{
    box-shadow: 0 0 5px 2px rgb(190, 190, 190);
}
.text_inputFile{
    position: absolute;
    float: left;
    top: 25%;
    text-align: center;
    left: 1vw;
    color: white;
    font-size: 1vw;
    transition: .3s;
    pointer-events: none;
}
.inpFile{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}