*{
    padding: 0%;
    margin: 0%;
    font-family: 'Hammersmith One', sans-serif;
}
body{
    background-color: #F3E9DC;
    min-height: 97vh;

}
main{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 15vh;
}
#process{
    width: 100%;
    height: 8vh;
    background-color: rgb(196, 196, 196);
    position: fixed;
    display: flex;
    z-index: 2;
}
.step{
    width: 33.3333%;
    height: 100%;
    float: left;
    border-left: 1px solid gray;
    display: flex;
    align-items: center;
}
.select{
    width: 33.3333%;
    height: 100%;
    float: left;
    background-color: #c5a68c;
    border-left: 1px solid gray;
    display: flex;
    align-items: center;
}
.tit_process{
    margin: auto;
    font-size: 2vw;
}   
#left{
    width: 50%;
    min-height: 80vh;
    float: left;
    margin-top: 13vh;
    /*border-right: 1px solid gray;*/
}
#container_filter{
    width: 80%;
    min-height: 60vh;
    float: left;
    background-color: white;
    margin-left: 5%;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#container_tras{
    width: 80%;
    height: 18vh;
    float: left;
    margin-top: 3vh;
    background-color: white;
    margin-left: 5%;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.inputbox{
    position: relative;
    width: 90%;
    height: 6vh;
    margin-left: 5%;
    float: left;
    background-color: brown;
    box-sizing: border-box;
    margin-top: 1vw;
    border-radius: 5px;
    display: flex;
    align-items: center;
    z-index: 1;
}
.inputboxx{
    position: relative;
    width: 40%;
    height: 6vh;
    margin-left: 5%;
    float: left;
    background-color: brown;
    box-sizing: border-box;
    margin-top: 1vw;
    border-radius: 5px;
    display: flex;
    align-items: center;
    z-index: 1;
}
.inputboxxx{
    position: relative;
    width: 40%;
    height: 6vh;
    margin-left: 5%;
    float: left;
    background-color: brown;
    box-sizing: border-box;
    margin-top: 1vw;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.inputboxxxx{
    position: relative;
    width: 40%;
    height: 6vh;
    margin-left: 3%;
    float: left;
    background-color: brown;
    box-sizing: border-box;
    margin-top: 1vw;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.inputbox .inp{
    background-color: white;
    width: 100%;
    height: 100%;
    outline: 0;
    border: 0;
    padding-left: 5px;
    border: 1px solid rgb(176, 176, 176);
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
}
.inputboxx .inpt{
    background-color: white;
    width: 100%;
    height: 100%;
    outline: 0;
    border: 0;
    padding-left: 5px;
    border: 1px solid rgb(176, 176, 176);
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
    z-index: 1;
}
.inputboxxx .inptt{
    background-color: white;
    width: 100%;
    height: 100%;
    outline: 0;
    border: 0;
    padding-left: 5px;
    border: 1px solid rgb(176, 176, 176);
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
    z-index: 1;
}
.inputboxxxx .inptt{
    background-color: white;
    width: 100%;
    height: 100%;
    outline: 0;
    border: 0;
    padding-left: 5px;
    border: 1px solid rgb(176, 176, 176);
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
}
.inputboxxxx .inptt{
    background-color: white;
    width: 100%;
    height: 100%;
    outline: 0;
    border: 0;
    padding-left: 5px;
    border: 1px solid rgb(176, 176, 176);
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
}


.inputbox .text_input{
    position: absolute;
    background-color: white;
    float: left;
    left: 5px;
    color: rgb(182, 182, 182);
    font-size: 1vw;
    transition: .3s;
    pointer-events: none;
}
.inputboxx .text_input{
    position: absolute;
    background-color: white;
    float: left;
    left: 5px;
    color: rgb(182, 182, 182);
    font-size: 1vw;
    transition: .3s;
    pointer-events: none;
}

.inputboxxx .text_input{
    position: absolute;
    background-color: white;
    float: left;
    left: 5px;
    color: rgb(182, 182, 182);
    font-size: 1vw;
    transition: .3s;
    pointer-events: none;
}
.inputboxxxx .text_input{
    position: absolute;
    background-color: white;
    float: left;
    left: 5px;
    color: rgb(182, 182, 182);
    font-size: 1vw;
    transition: .3s;
    pointer-events: none;
}



.inputbox .inp:focus ~ .text_input,
.inputbox .inp:valid ~ .text_input{
    color: #43291F;
    top: -20%;
    font-size: small;
}
.inputbox .inp:placeholder-shown + .text_input{
    top: -20%;
    font-size: 0.9em;
}


.inputboxx .inpt:focus ~ .text_input,
.inputboxx .inpt:valid ~ .text_input{
    color: #43291F;
    top: -20%;
    font-size: small;
}
.inputboxx .inpt:placeholder-shown + .text_input{
    top: -20%;
    font-size: 0.9em;
}


.inputboxxx .inptt:focus ~ .text_input,
.inputboxxx .inptt:valid ~ .text_input{
    color: #43291F;
    top: -20%;
    font-size: small;
}
.inputboxxx .inptt:placeholder-shown + .text_input{
    top: -20%;
    font-size: 0.9em;
}


.inputboxxxx .inptt:focus ~ .text_input,
.inputboxxxx .inptt:valid ~ .text_input{
    color: #43291F;
    top: -20%;
    font-size: small;
}
.inputboxxxx .inptt:placeholder-shown + .text_input{
    top: -20%;
    font-size: 0.9em;
}
/*-----------------------------------------------------------------------------*/
.inputboxSm{
    position: relative;
    width: 40%;
    height: 6vh;
    margin-left: 6.666%;
    float: left;
    background-color: brown;
    box-sizing: border-box;
    margin-top: 1vw;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.inputboxSm .inp{
    background-color: white;
    width: 100%;
    height: 100%;
    outline: 0;
    border: 0;
    padding-left: 5px;
    border: 1px solid rgb(176, 176, 176);
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
}
.inputboxSm .text_input{
    position: absolute;
    background-color: white;
    float: left;
    top: 25%;
    left: 5px;
    color: rgb(182, 182, 182);
    font-size: 1vw;
    transition: .3s;
    pointer-events: none;
}
.inputboxSm .inp:focus ~ .text_input,
.inputboxSm .inp:valid ~ .text_input{
    color: #43291F;
    top: -20%;
    font-size: small;
}
.inputboxSm .inp:placeholder-shown + .text_input{
    top: -20%;
    font-size: 0.9em;
}

#bot{
    background-color: #43291F;
    width: 90%;
    height: 7vh;
    color: whitesmoke;
    border: 0;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 1vw;
    margin-bottom: 2vw;
    float: left;
}
#bot:hover{
    box-shadow: 0 0 5px 2px rgb(190, 190, 190);
}
.text{
    margin-left: 6%;
    margin-top: 5%;
    font-size: 3vw;
    color: #43291F;
}
.teext{
    margin-left: 6%;
    margin-top: 5%;
    font-size: 1.5vw;
    font-weight: bold;
    color: #43291F;
}
.textt{
    margin-left: 6%;
    margin-top: 2%;
    font-size: 1.5vw;
    color: gray;
}
.line{
    width: 90%;
    margin-left: 5%;
    color: gray;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
/*--Contenedor de Habitaciones---------------------------------------------------------------------------------*/

#right{
    width: 50%;
    min-height: 76.9vh;
    float: left;
    margin-bottom: 5vh;
    margin-top: 8vh;
}
.container_room{
    width: 70vw;
    min-height: 20vw;
    float: left;
    margin-left: 3%;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 1vw;
    overflow: hidden;
}
.c_image{
    width: 25vw;
    height: 20vw;
    float: left;
    background-color: gray;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.info_room{
    width: 45vw;
    min-height: 16vw;
    float: left;
}
.c_reserve{
    width: 45vw;
    min-height: 4vw;
    float: left;
    background-color: rgb(201, 201, 201);
}
.img{
    width: auto;
    height: 100%;
}
#contres{
    width: 90%;
    height: auto;
    float: left;
    margin-left: 5vh;
    margin-top: 5vh;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.habpic{
    width: 40vh;
    height: 30vh;
    float: left;
    margin-left: 3vh;
    margin-bottom: 5vh;
    background-color: gray;
}
.detalles{
    width: 35vh;
    height: 10vh;
    float: left;
    margin-left: 2vh;

}
.texxt{
    margin-left: 4%;
    margin-top: 5%;
    line-height: 1;
    font-size: 1.3vw;
    color: gray;
}
.tod{
    font-weight: normal;
}
.chec{
    width: 2.5vh;
    height: 2.5vh;
    margin-left: 5vh;
}
#container_res{
    width: 70%;
    height: auto;
    float: left;
    background-color: white;
    margin-left: 5%;
    border-radius: 5px;
    /*box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;*/
}
#rem{
    margin-left: 0vh;
    margin-top: 2%;
    font-size: 1.5vw;
    font-weight: bold;
    color: gray;
    
}
.rese{
    margin-left: 4%;
    margin-top: 2%;
    font-size: 1vw;
    color: gray;
    
}
.conbut{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: left;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 80px;
    background-color: #B58463;
    color: whitesmoke;
    font-size:30px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.but span{
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}
.but::after{
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(-100% - 80px);
    border-bottom: 80px solid #43291F;
    border-right: 80px solid transparent;
    transition: .4s ease-in-out all;
}
.but:hover::after{
    left: 0;
}