*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    font-family: 'Hammersmith One', sans-serif;
}
main{
    height: 100%;
    width: 100%;
    background-color: #F3E9DC;
}
.cont{
    margin-top: 1%;
    margin-left: 28%;
    height: 70%;
    width: 45%;
    float: left;
    border-radius: 5px;
    box-shadow: 0 1px 3px black;
    background-color: whitesmoke;
}
.form{
    height: 95%;
    width: 56%;
    margin-top: 4%;
    margin-left: 25%;
}
form{
    color: grey;
    margin-left: 2%;
    margin-top: 2%;
}
label{
    font-size: 30px;
}
.inputs{
    width: 70%;
    height: 40px;
}
p{
    font-size: 20px;
}
.reservar{
    width: 70%;
    height: 40px;
    border-radius: 15px;
    font-size: 25px;
    background-color: #8D7272;
    color: whitesmoke;
    text-shadow: 0 1px 1px black;
    font-weight: bold;
}